@charset "UTF-8";
body {
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
	background-image: url('../img/bg10.png');
	background-position-y: 5%;
	background-size: 100%;
}

nav{
  font-size: 15px;
  font-weight: 700;
  
}

block{
  color: white;
  background-color: #c43160;
  border-radius: 20px;
  position: relative;
  margin-left: 22%;
}

block:hover{
  background-color: #e0a5d4;
}

.logout-type{
  border: #000;
}

.logout-type-text{
  background-color:  #b300b3;
  border-width: 20px;
  border-radius: 100px;
  color: white;
}

.card-box-top{
  margin-left: 9%;
  width: 20rem;
  height: 280px;
  float: left;
  border-color: #000;
  border-width: 2px;
  border-radius: 20px;
  text-align: center;
}

.card-box-bottom{
  margin-left: 9%;
  margin-top: 60px;
  width: 20rem;
  height: 280px;
  float: left;
  border-color: #000;
  border-width: 2px;
  border-radius: 20px;
  text-align: center;
}


.card-box-top:hover{
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);  
  position: static;
}

.card-box-bottom:hover{
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.5s;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);  
  position: static;
}

.card-img-rounded{
  margin-top: 10px;
  border-color: #000;
  border-style: groove;
  border-radius: 58%;
  width: 100px;
  height: 100px;
  align-self: center;
}


.card-title-main{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: large;
}


/* .text-white:hover{
  color: red;
} */

.text-black:hover{
  color: black;
  background-color: #e0a5d4;;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.title-box {
  width: 500px;
}
.title-box img {
  width: 235px;
  margin-bottom: -10px;
}
.title-box p {
  color: #000;
  font-size: 26px;
  font-weight: normal;
  line-height: 32px;
}
.form-box {
  width: 300px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  margin-left: 60px;
  box-shadow: 0px 2px 10px 5px rgba(71, 71, 71, 0.52);
}
.form-box input {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid #eeebeb;
  border-radius: 100px;
  outline: none;
}
.form-box input:focus {
  box-shadow: 0px 0px 1px 1px rgb(22, 111, 229);
}
.form-box button {
  width: 100%;
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 100px;
  border: none;
  padding: 13px 0;
  cursor: pointer;
  background: #ff33cc;
}
.form-box button:hover {
  background: #b30086;
}
.form-box a {
  color: #166fe5;
  font-size: 14px;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
}
.form-box a:hover {
  text-decoration: underline;
}
.form-box hr {
  border: 1px solid #dadde1;
  margin-bottom: 15px;
}
.form-box .create-btn a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 100px;
  background: #b300b3;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
}
.form-box .create-btn a:hover {
  background: #660066;
}

.aa{
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  padding: 8px 16px;
}

.aa:hover {
  background-color: #ddd;
  border-radius: 20px;
  color: black;
}

.previous {
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}

.accordion {
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-bg: var(--bs-body-bg);
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: var(--bs-border-width);
  --bs-accordion-border-radius: var(--bs-border-radius);
  --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23052c65'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(232, 38, 223, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #000;
  --bs-accordion-active-bg: #ffb8f2;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1rem;
  color: var(--bs-accordion-btn-color);
  text-align: center;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    transition: none;
  }
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}
.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button::after {
    transition: none;
  }
}
.accordion-button:hover {
  z-index: 2;
}
.accordion-button:focus {
  z-index: 3;
  border-color: var(--bs-accordion-btn-focus-border-color);
  outline: 0;
  box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
.accordion-item:first-of-type {
  border-top-left-radius: var(--bs-accordion-border-radius);
  border-top-right-radius: var(--bs-accordion-border-radius);
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-item:not(:first-of-type) {
  border-top: 0;
}
.accordion-item:last-of-type {
  border-bottom-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius);
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-item:last-of-type .accordion-collapse {
  border-bottom-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius);
}

.accordion-body {
  padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
}

.accordion-flush .accordion-collapse {
  border-width: 0;
}
.accordion-flush .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.accordion-flush .accordion-item:first-child {
  border-top: 0;
}
.accordion-flush .accordion-item:last-child {
  border-bottom: 0;
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
  border-radius: 0;
}

[data-bs-theme=dark] .accordion-button::after {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
