body {
  margin: 0;
  color: #6a6f8c;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  background-image: url('bg8.jpg');
  background-size: cover;
  font-family: "Abel";
  font-size: 25px;
}
