<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />    
    <link rel="shortcut icon" style="border-radius: 50px;" href="{{ url_for('static', filename='favicon4.png') }} " />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat With Emilia</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

<body>
    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io.connect("http://localhost:5000")
            // socket.on('connect', function(){
            //     socket.send('User connected!');
            // })
            socket.on('message', function(data){
                $('#messages').append($('<p>').text(data))
            })
            $('#sendBtn').on('click', function(){
                socket.send($('#message').val())
                $('#message').val('')
            })
        })
    </script>
    <div id="messages"></div>
    <input type="text" id="message" placeholder="Message">
    <button id="sendBtn">Send</button>
</body>
</html>