{% extends "base_main.html" %}
{% block title %}Emilia World{% endblock %}

{% block content %}

<section class="page-section portfolio" id="portfolio">
    <div class="container" style="position: relative;">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase" style="font-weight: 700; font-family: monospace;">
            Welcome to Emilia World</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>
        <div style="text-align: center;">
            <p style="font-size: larger; font-weight: 700; font-family: 'Courier New', Courier, monospace;">Xin chào {{
                user }} đã đến với thế giới của Emilia!!!</p>
            <p style="font-size: larger; font-weight: 700; font-family: 'Courier New', Courier, monospace;">Tại đây, bạn
                có thể sử dụng các tính năng độc đáo như chatbot, chạy code, nhắn tin, ...</p>
        </div>
    </div>
    <div>

        <div class="card card-box-top" style="cursor: pointer; background-color: rgb(255, 251, 170);"
            onclick="window.location='/general_chat';">
            <img src="{{ url_for('static', filename='img/beatrice_icon.jpg') }}" class="card-img-top card-img-rounded">
            <div class="card-body">
                <p class="card-title-main" style="font-size: x-large;">Chat chung</p>
                <p class="card-text" style="font-family: 'Courier New', Courier, monospace; font-weight: 800;">Tại đây,
                    bạn có thể trò chuyện từ A đến Z cùng với những thành viên trong thế giới của Emilia</p>
            </div>
        </div>


        <div class="card card-box-top" style="cursor: pointer; background-color: rgb(240, 192, 248);"
            onclick="window.location='/app';">
            <img src="{{ url_for('static', filename='img/emilia_icon.jpg') }}" class="card-img-top card-img-rounded">
            <div class="card-body">
                <p class="card-title-main" style="font-size: x-large;">Chat với Emilia</p>
                <p class="card-text" style="font-family: 'Courier New', Courier, monospace; font-weight: 800;">Tại đây,
                    bạn có thể trò chuyện với Emilia để biết thêm thông tin bổ ích</p>
            </div>
        </div>

        <div class="card card-box-top" style="cursor: pointer; background-color: rgb(153, 221, 242);"
            onclick="window.location='/rem_chat';">
            <img src="{{ url_for('static', filename='img/rem_icon.jpg') }}" class="card-img-top card-img-rounded">
            <div class="card-body">
                <p class="card-title-main" style="font-size: x-large;">Chat với Rem</p>
                <p class="card-text" style="font-family: 'Courier New', Courier, monospace; font-weight: 800;">Tại đây,
                    bạn có thể trò chuyện với Rem để giải trí với những câu nói vui nhộn</p>
            </div>
        </div>

        <div class="card card-box-bottom" style="cursor: pointer; background-color: rgb(236, 150, 170);"
            onclick="window.location='/general_chat';">
            <img src="{{ url_for('static', filename='img/ram_icon.jpg') }}" class="card-img-top card-img-rounded">
            <div class="card-body">
                <p class="card-title-main" style="font-size: x-large;">Chạy code</p>
                <p class="card-text" style="font-family: 'Courier New', Courier, monospace; font-weight: 800;">Tại đây,
                    Ram sẽ giúp bạn chạy code của các ngôn ngữ lập trình Python, C, C++, GoLang, Pascal</p>
            </div>
        </div>

        <div class="card card-box-bottom" style="cursor: pointer; background-color: rgb(219, 189, 132);"
            onclick="window.location='/general_chat';">
            <img src="{{ url_for('static', filename='img/petra_icon.jpg') }}" class="card-img-top card-img-rounded">
            <div class="card-body">
                <p class="card-title-main" style="font-size: x-large;">Lưu ảnh</p>
                <p class="card-text" style="font-family: 'Courier New', Courier, monospace; font-weight: 800;">Tại đây,
                    Petra sẽ lưu tất cả các ảnh, kỉ niệm đẹp trong cuộc đời của bạn</p>
            </div>
        </div>

        <div class="card card-box-bottom" style="cursor: pointer; background-color: rgb(238, 242, 206);"
            onclick="window.location='/general_chat';">
            <img src="{{ url_for('static', filename='img/frederica_icon.jpg') }}" class="card-img-top card-img-rounded">
            <div class="card-body">
                <p class="card-title-main" style="font-size: x-large;">Cài đặt</p>
                <p class="card-text" style="font-family: 'Courier New', Courier, monospace; font-weight: 800;">Tại đây,
                    Frederica sẽ điều chỉnh các thông tin cá nhân của bạn như tên đăng nhập, mật khẩu, ảnh avatar,...
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}