{% extends "base_chat.html" %}
{% block title %}Emilia World{% endblock %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function () {
        var socket = io.connect("http://localhost:5000")
        socket.on('message', function (data) {
            var html = ''
            if (data[0] == "{{ user }}"){
                html = '<p style="float: right; height: 2px; margin-right: 8%;">' + data[0] + '</p><div class="d-flex justify-content-end mb-4" style="margin-top: 50px; margin-right: 0px;"><div class="msg_cotainer_send">' + data[1] + '<span class="msg_time_send">'+'</span></div><div class="img_cont_msg"><img src="static/avatars/'+ data[2] +'" class="rounded-circle user_img_msg"></div></div>';
            }
            else{
                html = '<p style="margin-left: 8%; margin-bottom: 0px;">'+ data[0] +'</p><div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="static/avatars/'+ data[2] +'" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data[1] + '<span class="msg_time">' + '</span></div></div>';
            }
            $('#messages').append(html)
            var elem = document.getElementById('messages');
            elem.scrollTop = elem.scrollHeight;
        })
        $('#btn').on('click', function () {
            socket.send("{{ user }}" + "$$$$" + $('#message').val())
            $('#message').val('')
        })
    })
</script>
<!-- <div id="messages">
    {% for m in all_chat %}
        <p>{{ m }}</p>
    {% endfor %}
</div> -->
<div class="container-fluid h-100" style="margin-top: 60px;">
    <div class="row justify-content-center h-100">
        <div class="col-md-8 col-xl-6 chat">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="user_info" style="color: black;">
                            <span>Chat chung</span>
                            <p>Tám đủ loại chuyện</p>
                        </div>
                    </div>
                </div>
                <div id="messages" class="card-body msg_card_body">
                    {% for m in all_chat %}
                        {% if m[0] == user : %}
                            <p style="float: right; height: 2px; margin-right: 8%;">{{ m[0] }}</p>
                            <div class="d-flex justify-content-end mb-4" style="margin-top: 50px; margin-right: 0px;">
                                <div class="msg_cotainer_send">{{ m[1] }}<span class="msg_time_send"></span></div>
                                <div class="img_cont_msg"><img src="static/avatars/{{ m[2] }}"
                                        class="rounded-circle user_img_msg"></div>
                            </div>
                        {% else : %}
                            <p style="margin-left: 8%; margin-bottom: 0px;">{{ m[0] }}</p>
                            <div class="d-flex justify-content-start mb-4">
                                <div class="img_cont_msg"><img src="static/avatars/{{ m[2] }}"
                                        class="rounded-circle user_img_msg"></div>
                                <div class="msg_cotainer">{{ m[1] }}<span class="msg_time"></span></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <form id="messageArea" class="input-group">
                        <input type="text" id="message" name="msg" placeholder="Type your message..." autocomplete="off"
                            class="form-control type_msg" required />
                        <div class="input-group-append">
                            <button type="submit" id="btn" class="input-group-text send_btn">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var elem = document.getElementById('messages');
    elem.scrollTop = elem.scrollHeight;
</script>
<!-- <input type="text" id="message" placeholder="Message">
<button id="sendBtn">Send</button> -->
{% endblock %}