{% extends "base.html" %}
{% block title %}Emilia World{% endblock %}

{% block content %}
<!-- <img style="width: 70%; height: auto;" src="{{ url_for('static', filename='bg6.jpg') }} "> -->

<form action="#" method="post">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <input type="text" name="username" placeholder="Username"></input>
    <br>
    <input type="password" name="password" placeholder="Password"></input>
    <br>
    <input type="rpassword" name="rpassword" placeholder="Repeat password"></input>
    <br>
    <input type="submit" name="submit" value="Log In">
</form>

{% endblock %}